body{
  background: #E6E9ED;
}

.login nav a {
  background: linear-gradient(135deg, #2ECC71, #58D68D) ;
  display: inline-block;
  padding: 5px;
  border: 1px solid;
  color: #1A4D7A;
  
}

.login div {
  display: none;
}

.login div:target {
  display: block;
}

